

/*Global selectors*/
body, html {
	margin: 0px;
	padding: 0px;
	font-size: 20px;
	line-height: 1.5;

	background-image: url(https://images.unsplash.com/photo-1529313780224-1a12b68bed16?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=04883a00fa778879ab6a81f628a5ff04&auto=format&fit=crop&w=334&q=80);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.container {
	background-color: rgba(150,148,148,0.7);
	padding-top: 3em;
	padding-bottom: 3em;
}

main {
	max-width: 65vw;
	margin: auto;
	padding: 2em;
	background-color: #fff;
	font-family: sans-serif;
}

header {
	text-align: center;
}

section label {
	margin: 0px 10px;
}

section h2 {
	text-align: left;
	margin-bottom: 5px;
	margin-top: 30px;
	font-weight: 500;
}

button {
	max-width: 50%;
	min-height: 40px;
	font-size: 1em;
	font-weight: 300;
	color: #fff;
	background-color: rgba(81, 211, 81, 0.9);
	border-radius: 5px;
	border: none;	
}
button:hover {
	background-color: rgba(255, 153, 0, 0.9);
}

/*Customer information selectors*/
.customer-info {
	text-align: center;
}
.customer-info input, .customer-info select {
	min-width: 30%;
}

.customer-info input, .customer-info select, textarea {
	border: 2px solid #999999;
	border-radius: 5px;
	padding: 2px 10px 2px 10px;
	font-size: 20px;
	margin-bottom: 10px;
	box-shadow: 0px 0px transparent;
}

.customer-info input:focus, .customer-info select:focus {
	outline-color: transparent;
	border-color: rgba(255, 153, 0, 0.9);
}

/*Customer preferences selectors*/
.box {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-gap: 20px;
}

/*Comments selectors*/
.comments {
	margin-top: 3em;
}
.comments textarea {
	min-width: 50%;
	min-height: 90%;
	display: block;

}
.comments textarea:focus-within {
	outline-color: transparent;
	border-color: rgba(255, 153, 0, 0.9);
}